{% extends "public/base.html" %}

{% block title %}About{% endblock %}

{% block showntitle %}About{% endblock %}

{% block content %}
    <section>
        <!-- DESCRIPTION -->
        <div class="card">
            <div class="card-image">
                <figure class="image is-128x128">
                    <img width="180" height="180" src="{{ url_for('static', filename="files/Sven.jpg") }}"
                         alt="Sven Amiet">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-48x48">
                            <img src="{{ url_for('static', filename="files/Hello.png") }}" alt="Sven avatar hi">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-4">Sven</p>
                        <p><a class="subtitle is-6" href="https://www.linkedin.com/in/sven-amiet/">Linkedin:
                            sven-amiet</a></p>
                        <p><a class="subtitle is-6" href="https://twitter.com/SvenAmiet">Twitter: @svenamiet</a></p>
                    </div>
                </div>

                <div class="content">
                    <p>I'm Sven, I work as a civil designer, <b>BIM Coordinator</b> and IT support.</p>
                    <p>I happen to <i>teach</i> computational design and automation topics. </p>
                    <p>I'm also a <i>student</i> at the HEIA-FR following the <em>CAS in BIM Coordination</em>.</p>
                    <p>This website is part of my graduation project.</p>
                    <p>I hope that you'll find it useful and that it brings you value.</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}