<!doctype html>
<html lang="en" class="has-navbar-fixed-top">
<head>
    <!-- Loading styling using CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/base.css') }}">
    <link href="{{ url_for('static', filename="fontawesome/css/all.css") }}" rel="stylesheet">

<!-- This is for DataTables -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='datatables/datatables.min.css') }}"/>
    <script type="text/javascript" src="{{ url_for('static', filename='datatables/datatables.min.js') }}"></script>

    {% block extra_head %}
    {% endblock %}

    <!-- This is the head part -->
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>DataPortal | {% block title %}Undefined title{% endblock %}</title>
        <link rel="icon" href="{{ url_for('static', filename="files/favicon.ico") }}"/>
    {% endblock %}
</head>
<body>
<!-- This is the header part of the website -->
{#<header>#}
{#    <!-- WEBSITE NAME -->#}
{#    <h1>Data Portal | BIM data transfer by Sven Amiet</h1>#}
{##}
{#    <!-- WEBSITE DETAILS -->#}
{#    #}
{#</header>#}
<!-- This is the Nav part of the website -->
<nav class="navbar is-fixed-top is-dark">
    <!-- MENU -->
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="{{ url_for('static', filename="files/DataPortal_Navbar.png") }}" width="108" height="28">
        </a>
    </div>

    <div class="navbar-menu">
        <div class="navbar-start">
            {% if current_user.is_authenticated %}
                <a class="navbar-item" href="{{ url_for('get_import') }}">Import</a>
                <a class="navbar-item" href="{{ url_for('get_imported_files') }}">Files</a>
{#                <a class="navbar-item" href="{{ url_for('get_export') }}">Export</a>#}
{#                <a class="navbar-item" href="{{ url_for('get_views') }}">Views</a>#}
{#                <a class="navbar-item" href="{{ url_for('get_3dviewer') }}">3D Viewer</a>#}
                <a class="navbar-item" href="{{ url_for('get_documentation') }}">Documentation</a>
                <a class="navbar-item" href="{{ url_for('get_about') }}">About</a>
                <a class="navbar-item" href="{{ url_for('get_contact') }}">Contact</a>

            {% else %}
                <a class="navbar-item" href="{{ url_for('get_documentation') }}">Documentation</a>
                <a class="navbar-item" href="{{ url_for('get_about') }}">About</a>
                <a class="navbar-item" href="{{ url_for('get_contact') }}">Contact</a>

            {% endif %}

        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    {% if current_user.is_authenticated %}
                        <a class="button is-danger" href="{{ url_for('get_logout') }}">
                            <strong>Logout</strong>
                        </a>
                    {% else %}
                        <a class="button is-primary" href="{{ url_for('get_signup') }}">
                            <strong>Sign up</strong>
                        </a>
                        <a class="button is-outlined" href="{{ url_for('get_login') }}">
                            <strong>Log in</strong>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</nav>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <article class="message is-{{ category }}">
                <div class="message-header">
                    <p></p>
                    <button class="delete" aria-label="delete"></button>
                </div>
                <div class="message-body">
                    {{ message }}
                </div>
            </article>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<div class="content-top-spacing">

</div>

<div class="container is-fluid">

    <h3 class="title is-2">{% block showntitle %}'UndefinedPageTitle'{% endblock %}</h3>

    <div>
        {% block content %}
            <!-- This is where the content of the page will be displayed -->
        {% endblock %}
    </div>

</div>

<!-- This is the footer part of the website -->
<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong><a href="https://gitlab.com/evifist/dataportal">DataPortal</a></strong> by <a
                href="https://www.linkedin.com/in/sven-amiet/">Sven Amiet</a>. The source code is licensed
            <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. Have fun with it.
        </p>
    </div>
</footer>

</body>
</html>