{% extends "public/base.html" %}

{% block title %}Contact{% endblock %}

{% block showntitle %}Contact{% endblock %}

{% block content %}
    <section>
        <!-- DESCRIPTION -->
        <p>This is the <b>Contact</b> page, thanks for visiting</p>
    </section>
    <section>
        <p>
            If you need help about using the website, have a look at the Wiki and in the Documentation.
        </p>
    </section>
{% endblock %}
