{% extends "public/base.html" %}

{% block title %}3D Viewer{% endblock %}

{% block showntitle %}3D Viewer{% endblock %}

{% block content %}
    <section>
        <!-- DESCRIPTION -->
        <p>Your are vieweing <b>{{ file_name }}</b> </p>
    </section>

    <section>
        <div id="viewer-container" class="card-content"></div>
        <div id="picked-item-details"></div>
        <script type="module" src="{{ url_for("get_js", file_path=file_path) }}"></script>
    </section>
{% endblock %}