{% extends "public/base.html" %}

{% block extra_head %}
    {#  import jstree  #}
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='jstree/themes/default/style.min.css') }}"/>
    <script src="{{ url_for('static', filename='jstree/jstree.min.js') }}"></script>

{% endblock %}

{% block title %}Edit IFC{% endblock %}

{% block showntitle %}Edit IFC{% endblock %}

{% block content %}
    <section>
        <!-- DESCRIPTION -->
        <p> You are currently watching and editing <b>{{ file_name }}</b></p>
    </section>
    <section>
        <p>
            Here you can see stuffs.
        </p>
    </section>
    <section>
        <input type="text" placeholder="Search..." id="treeview_search"/>
        <div id="treeview"></div>

    </section>
    <section>

        <script>
            let new_property_counter = 1;

            function set_new_property_keys(pset_separator) {
                let elems = document.querySelectorAll("input.new-key");
                for (let e of elems) {
                    let keyInput = e.parentElement.parentElement.previousElementSibling.firstElementChild.firstElementChild;
                    let keyName = keyInput.value;
                    let inputName = e.name;

                    // as shown in https://stackoverflow.com/questions/2729666/javascript-replace-last-occurrence-of-text-in-a-string
                    let startIndex = inputName.lastIndexOf(pset_separator) + pset_separator.length;
                    let end = inputName.substring(startIndex);
                    let newName = inputName.replace(end, keyName);
                    e.setAttribute("name", newName);
                }
                return true;
            }

            function add_property(pset_name, pset_separator) {
                let datatype = document.getElementById("new-property-select-" + pset_name).value;
                let new_property_div = document.getElementById("new-property-div-" + pset_name);

                // we use javascript "template literals" to create multiline strings
                let input_template = `<div class="field is-horizontal">

                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <input class="input" type="text" placeholder="Property name...">
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control">
                                            <input name="${datatype}${pset_separator}${pset_name}${pset_separator}TODO${new_property_counter}"
                                                   class="input new-key"
                                                   type="text" value="" placeholder="Value of type ${datatype}...">
                                                   <span class="tag is-info is-light">${datatype}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
            `;

            let radio_template = `<div class="field is-horizontal">

                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <input class="input" type="text" placeholder="Property name...">
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control">
                                            <input id="${datatype}${pset_separator}${pset_name}${pset_separator}TODO${new_property_counter}True"
                                                   name="${datatype}${pset_separator}${pset_name}${ pset_separator}TODO${new_property_counter}"
                                                   type="radio" value="true"
                                                   class="new-key"
                                                   >
                                            <label for="${datatype}${pset_separator}${pset_name}${ pset_separator}TODO${new_property_counter}True">True</label>

                                            <input id="${datatype}${pset_separator}${pset_name}${ pset_separator}TODO${new_property_counter}False"
                                                   name="${datatype}${pset_separator}${pset_name}${ pset_separator}TODO${new_property_counter}"
                                                   type="radio" value="false"
                                                   class="new-key"
                                                   checked="checked">
                                            <label for="${datatype}${pset_separator}${pset_name}${ pset_separator}TODO${new_property_counter}False">False</label>
                                    </div>
                                </div>
                            </div>
                        </div>
            `;

                new_property_counter += 1;

                let template = input_template;
                if (datatype == "bool") {
                    template = radio_template;
                }
                new_property_div.insertAdjacentHTML("beforebegin", template);
                return false;
            }

            function add_property_set(pset_separator) {
                let pset_name = document.getElementById("new-pset-name").value;

                let template = `
                <div class="card m-4">
                    <header class="card-header"><p class="card-header-title">${pset_name}</p></header>
                    <div class="content m-3">
                        <div id="new-property-div-${pset_name}">
                            <div class="select is-info is-small">
                                <select name="new_property_type" id="new-property-select-${pset_name}">
                                    <option value="int">Integer</option>
                                    <option value="float">Float</option>
                                    <option value="str">String</option>
                                    <option value="bool">Boolean</option>
                                </select>
                            </div>

                            <button class="button is-info is-small" onclick='return add_property("${pset_name}", "${pset_separator}")'>Add new property</button>
                        </div>
                        <div class="pb-3"></div>

                    </div>
                </div>
                `;

                let newPsetButton = document.getElementById("new-pset-button");
                newPsetButton.parentElement.parentElement.parentElement.insertAdjacentHTML("beforebegin", template);

                return false;
            }
        </script>

        <script>
            function showDetails(filename, globalId, ifc_class) {
                // get data and show it in the detail panel
                let panel = document.getElementById("detailsPanel");
                panel.innerHTML = " Loading... ";

                // query server for info for this specific item
                let url = "/ifcelementdetails/" + filename + "/" + globalId;
                fetch(url)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error("Request failed. Status = ${response.status}");
                        }
                        return response.text();
                    })
                    .then(response => {
                        panel.innerHTML = response;
                    })
                    .catch(error => console.log(error));
            }
        </script>


        <div class="columns">
            <div class="column">
                <table id="entities" class="table is-striped is-hoverable">
                    <thead>
                    <tr>
                        <th>Class</th>
                        <th>Global ID</th>
                        <th>Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    {#  create rows with data for each file uploaded      #}
                    {% for e in entities %}
                        <tr onclick='showDetails("{{ file_name }}", "{{ e.GlobalId }}", "{{ e.is_a() }}")'>
                            <td>{{ e.is_a() }}</td>
                            <td>{{ e.GlobalId }}</td>
                            <td>{{ e.Name }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>
            <div class="column is-narrow">
                <div id="detailsPanel"></div>
            </div>
        </div>
        <script>
            $(document).ready(function () {
                $('#entities').DataTable();

            });
        </script>

    </section>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#treeview').jstree({
                "core": {
                    "data": [
                        {# TODO inject JSON data here #}
                        {"id": "ajson1", "parent": "#", "text": "Simple root node"},
                        {"id": "ajson2", "parent": "#", "text": "Root node 2"},
                        {"id": "ajson3", "parent": "ajson2", "text": "Child 1"},
                        {"id": "ajson4", "parent": "ajson2", "text": "Child 2"},
                    ]
                },
                "plugins": ["search"],
                "search": {
                    "case_insensitive": true
                }
            });

            // search
            var to = false;
            $('#treeview_search').keyup(function () {
                if (to) {
                    clearTimeout(to);
                }
                to = setTimeout(function () {
                    var v = $('#treeview_search').val();
                    $("#treeview").jstree(true).search(v);
                }, 250);
            });
        });
    </script>
{% endblock %}