{% extends "public/base.html" %}

{% block title %}Export{% endblock %}

{% block showntitle %}Export{% endblock %}

{% block content %}
    <section>
        <!-- DESCRIPTION -->
        <p>This is the <b>Export</b> page, thanks for visiting</p>
    </section>
    <section>
        <p>
            Exporting data is cool.
        </p>
    </section>
{% endblock %}