{% extends "public/base.html" %}

{% block title %}Files{% endblock %}

{% block showntitle %}Files{% endblock %}

{% block content %}
    <section>
        <h2 class="title is-5">Imported IFC and Excel files</h2>
    </section>

    <section>
    <table id="imported_files" class="table is-striped is-hoverable is-narrow">
        <thead>
        <tr>
            <th>Name</th>
            <th>Uploaded date</th>
            <th>Type</th>
            <th>Size</th>
            <th>...</th>
        </tr>
        </thead>
        <tbody>
{#  create rows with data for each file uploaded      #}
        {% for f in imported_files %}
            <tr>
                <td>{{ f.name }}</td>
                <td>{{ f.date }}</td>
                <td>{{ f.type }}</td>
                <td>{{ f.size }}</td>
                <td>
                    <form method="POST" action="{{ url_for("post_delete_file", file_path=f.path) }}">
                        <a href="{{ url_for("get_download", file_path=f.path) }}" class="button is-small is-outlined is-primary">Download</a>
                        <a href="{{ url_for("get_3dviewer", file_path=f.path) }}" class="button is-small is-outlined is-dark">View in 3D</a>
                        <a href="{{ url_for("get_editifc", file_path=f.path) }}" class="button is-small is-outlined is-info">Edit file</a>
                        <input type="submit" class="button is-small is-outlined is-danger" value="Delete" onclick="return window.confirm('Do you really want to delete {{ f.name }} ?');" /></form>
                </td>

            </tr>
        {% endfor %}
        </tbody>

    </table>
    <script>
        $(document).ready(function () {
            $('#imported_files').DataTable();
        });
    </script>

    </section>

{% endblock %}